* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: "Roboto", Arial;
    background-color: var(--background-color);

    &.light-theme {
        --main-color: #333;
        --text-color: #fff;
        --background-color: #d6d4d4;
        --shadow-color: rgba(0, 0, 0, 30%);
    }

    &.dark-theme {
        --main-color: #d6d4d4;
        --background-color: #333;
        --shadow-color: rgba(255, 255, 255, 30%);
    }
}