.weather {
    width: 340px;
    min-width: 340px;
    border-radius: 6px;
    box-shadow: 10px -2px 20px 2px rgb(0 0 0 / 30%);
    color: #fff;
    background-color: #333;
    padding: 0 20px 20px;

    @media (max-width: 768px) {
        margin: 0 auto;
    }

    @media (max-width: 450px) {
        width: 100%;
    }

    .bottom,
    .top {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .city {
            font-weight: 600;
            font-size: 18px;
            line-height: 1;
            letter-spacing: 1px;
        }

        .weather-desc {
            font-weight: 400;
            font-size: 15px;
            line-height: 1;
        }

        p {
            padding: 5px 0;
        }

        .temperature {
            font-weight: 600;
            font-size: 70px;
            letter-spacing: -5px;
            margin: 10px 0;
        }

        .details {
            width: 100%;
            padding-left: 20px;
            margin-left: auto;

            .parameter-row {
                display: flex;
                justify-content: space-between;

                &:first-child span {
                    font-style: italic;
                    margin-bottom: 3px;
                    text-transform: uppercase;
                }

                .parameter-label {
                    font-weight: 400;
                    font-size: 12px;
                }

                .parameter-value {
                    font-weight: 600;
                    font-size: 12px;
                }
            }
        }
    }

    .weather-icon {
        width: 100px;
    }
}